<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Date of birth
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_dob %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <% if defined?(link) %>
      <%= show_link("#{link}" + 'date_of_birth') %>
    <% else %> 
      <%= show_link('date_of_birth') %>
    <% end %>
  </dd>
</div>