<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Email
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body"><%= show_email %></p>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('identity')%>
  </dd>
</div>