<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Do you have a degree?
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body"><%= show_have_a_degree %></p>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('have_a_degree')%>
  </dd>
</div>