<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which main subject did you previously teach?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_previous_subject %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('previous_subject') %>
  </dd>
</div>