<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    What is your previous teacher reference number?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_session('prev_id') %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('previous_id') %>
  </dd>
</div>