<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Are you qualified to teach primary or secondary?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_session('preferred_education_phase_id')%>
  </dd>
  <dd class="govuk-summary-list__actions">
    <% if defined?(link) %>
      <%= show_link("#{link}" + 'preferred_education_phase_id') %>
    <% else %>
      <%= show_link('preferred_education_phase_id') %>
    <% end %>
  </dd>
</div>