<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Are you qualified to teach primary or secondary?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_session('primary_or_secondary')%>
  </dd>
  <dd class="govuk-summary-list__actions">
    <% if defined?(link) %>
      <%= show_link("#{link}" + 'primary_or_secondary') %>
    <% else %> 
      <%= show_link('primary_or_secondary') %>
    <% end %>
  </dd>
</div>