<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which subject are you qualified to teach?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_session('qualified_subject')%>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link("#{link}" + 'qualified_to_teach')%>
  </dd>
</div>