<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
   Are you planning to retake your English or maths GCSEs?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_true_or_false('retaking_english_maths') %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <% if defined?(link) %>
      <%= show_link("#{link}" + 'retake_english_maths') %>
    <% else %> 
      <%= show_link('retake_english_maths') %>
    <% end %>
  </dd>
</div>