<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which stage are you interested in teaching?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_stage_interested_teaching %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <% if defined?(link) %>
      <%= show_link("#{link}" + 'stage_interested_teaching') %>
    <% else %>
      <%= show_link('stage_interested_teaching') %>
    <% end %>
  </dd>
</div>