<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    In which year are you studying?
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body"><%= show_stage_of_degree %></p>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('studying/stage_of_degree')%>
  </dd>
</div>