<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which subject are you interested in teaching?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_subject('teaching_subject')%>
  </dd>
  <dd class="govuk-summary-list__actions">
    <% if defined?(link) %>
      <%= show_link("#{link}" + 'subject_interested_teaching') %>
    <% else %>
      <%= show_link('subject_interested_teaching') %>
    <% end %>
  </dd>
</div>