<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Address
  </dt>
  <dd class="govuk-summary-list__value">
    <%= safe_format(show_uk_address) %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <% if defined?(link) %>
      <%= show_link("#{link}" + 'uk_candidate') %>
    <% else %> 
      <%= show_link('uk_candidate') %>
    <% end %>
  </dd>
</div>