<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Where do you live?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_location %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <% if defined?(link) %>
      <%= show_link("#{link}" + 'uk_or_overseas') %>
    <% else %> 
      <%= show_link('uk_or_overseas') %>
    <% end %>
  </dd>
</div>