---
applications:
- name: {{APPLICATION}}
  memory: 256M
  docker:
    image: {{DOCKER_IMAGE}}
  env:
    HTTPAUTH_PASSWORD: {{HTTPAUTH_PASSWORD}}
    HTTPAUTH_USERNAME: {{HTTPAUTH_USERNAME}}
    RAILS_MASTER_KEY:  {{RAILS_MASTER_KEY}}
    RAILS_ENV:         {{RAILS_ENV|default('production')}}
