---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/callback_booking_quotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Vcap-Request-Id:
      - e8630508-e73f-4fbf-57a9-2d813165cc45
    body:
      encoding: UTF-8
      string: '[{"timeSlot":"2:30pm - 3pm","day":"Monday 20 July","startAt":"2020-07-20T13:30:00Z","endAt":"2020-07-20T14:00:00Z","numberOfBookings":0,"quota":12,"isAvailable":true,"id":"c228803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"3pm
        - 3:30pm","day":"Monday 20 July","startAt":"2020-07-20T14:00:00Z","endAt":"2020-07-20T14:30:00Z","numberOfBookings":0,"quota":12,"isAvailable":true,"id":"c428803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"3:30pm
        - 4pm","day":"Monday 20 July","startAt":"2020-07-20T14:30:00Z","endAt":"2020-07-20T15:00:00Z","numberOfBookings":0,"quota":12,"isAvailable":true,"id":"c628803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"4pm
       [...]
[...]
