<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
   Are you planning to retake your science GCSE?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_true_or_false('retaking_science') %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('degree/retake_science') %>
  </dd>
</div>