<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
   Are you planning to retake your English or maths GCSEs?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_session('retaking') %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('degree/retake_english_maths') %>
  </dd>
</div>