<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Do you have maths and English GCSE Grade 4 or above?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_session('has_required_subjects') %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('degree/secondary_maths_english_grade4') %>
  </dd>
</div>