<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    When do you want to start techer training?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_session('year_of_entry')%>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('degree/start_teacher_training')%>
  </dd>
</div>