@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
$govuk-global-styles: true;

@import "~govuk-frontend/govuk/all";

.auto-width {
  width: auto;
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@import 'cookie-banner' ;

.footer-bottom {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-container {
      vertical-align: top;
      width: 124px;
      height: 73px;

      img {
          width: 124px;
          height: 73px;
      }
  }

  &__links-container {
      text-align: right;
      vertical-align: top;
      color: #0b0c0c;
      font-size: 16px;
      letter-spacing: 0px;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      a {
          color: #0b0c0c;
          margin-left: 5px;
          margin-right: 5px;
          text-decoration: underline;
          white-space: nowrap;
          display: block;

          &:hover {
              text-decoration: none;
          }
          &:focus {
              color: #000;
              text-decoration: none;
          }
          &:before {
              content: "|";
              display: inline-block;
              margin-right: 13px;
          }
          &:first-child:before {
              content: "";
              display: none;
              margin: 0;
          }
      }
      &__license {
          a {
              display: inline;
              margin: 0;
              &:before {
                  content: "";
                  display: none;
              }
          }
      }
  }
}




