@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
$govuk-global-styles: true;

@import "~govuk-frontend/govuk/all";

.auto-width {
  width: auto;
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #0076bd;
}

@import 'cookie-banner' ;

[data-controller="cookie-preferences"] {
  .save-with-confirmation button {
    vertical-align: baseline;
    @include govuk-responsive-margin(2, "bottom");
    @include govuk-responsive-margin(2, "right");
  }

  .save-with-confirmation__message {
    display: none;
    vertical-align: baseline;
    color: govuk-colour("green") ;
    @include govuk-responsive-margin(5, "bottom");
  }

  &[data-cookie-preferences-save-state-value="saved"] .save-with-confirmation__message {
    display: inline-block ;
  }
}


