#cookie-banner {
  background-color: lighten(govuk-colour("blue"), 55%);
  padding: 0.6rem 0rem 0.4rem;

  #cookie-banner-message, #cookie-banner-flash {
    > p {
      color: $govuk-text-colour;

      > a {
        // darken when hovering because the light blue background doesn't
        // provide enough contrast
        &:hover {
          color: darken($govuk-link-colour, 15%);
        }
      }
    }

    @include govuk-media-query($from: tablet) {
      form {
        display: inline-block;
        margin-right: 1em;
      }

      div.govuk-grid-column-one-third {
        text-align: right;
      }
    }

    @include govuk-media-query($until: tablet) {
      div.govuk-grid-column-one-third {
        margin-top: govuk-spacing(2);
      }
    }
  }

  #cookie-banner-flash {
    display: none ;
  }

  &.hide {
    display: none ;
  }

  &.accepted {
    #cookie-banner-message { display: none }
    #cookie-banner-flash { display: block }
  }
}
