<div class="govuk-form-group">

    <%= link_to 'Back', 'javascript:history.go(-1);', class: "govuk-back-link" %> 
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Enter your postcode
            </h1>
        </legend>

      <%= form_for @uk_candidate_postcode do |f| %>
        <div class="govuk-form-group">
            <label class="govuk-label" for="postcode" maxlength="8">
                Postcode
            </label>
            <input class="govuk-input govuk-input--width-20" id="postcode" name="uk_candidate_postcode[uk_candidate_postcode]" type="text">
        </div>

        <div class="govuk-form-group">
            <%= f.submit :Continue, class: 'govuk-button auto-width' %>
        </div>
        <% end %>
    </fieldset>
</div>