---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/callback_booking_quotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Vcap-Request-Id:
      - 0bad75e0-4a1a-469b-44e0-788e7eeee43c
    body:
      encoding: UTF-8
      string: '[{"timeSlot":"9am - 9:30am","day":"Thursday 16 July","startAt":"2020-07-16T08:00:00Z","endAt":"2020-07-16T08:30:00Z","numberOfBookings":0,"quota":12,"isAvailable":true,"id":"5c28803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"9:30am
        - 10am","day":"Thursday 16 July","startAt":"2020-07-16T08:30:00Z","endAt":"2020-07-16T09:00:00Z","numberOfBookings":0,"quota":12,"isAvailable":true,"id":"5e28803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"10am
        - 10:30am","day":"Thursday 16 July","startAt":"2020-07-16T09:00:00Z","endAt":"2020-07-16T09:30:00Z","numberOfBookings":0,"quota":12,"isAvailable":true,"id":"6028803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"10:3[...]
[...]
