---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/callback_booking_quotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Vcap-Request-Id:
      - 6c7c9156-6abf-4c96-77e5-8c57a89addb9
    body:
      encoding: UTF-8
      string: '[{"timeSlot":"4pm - 4:30pm","day":"Monday 13 July","startAt":"2020-07-13T15:00:00Z","endAt":"2020-07-13T15:30:00Z","numberOfBookings":0,"quota":12,"isAvailable":true,"id":"0028803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"4:30pm
        - 5pm","day":"Monday 13 July","startAt":"2020-07-13T15:30:00Z","endAt":"2020-07-13T16:00:00Z","numberOfBookings":0,"quota":12,"isAvailable":true,"id":"0228803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"5pm
        - 5:30pm","day":"Monday 13 July","startAt":"2020-07-13T16:00:00Z","endAt":"2020-07-13T16:30:00Z","numberOfBookings":0,"quota":0,"isAvailable":false,"id":"0428803b-1c83-ea11-a811-000d3a44a94a"},{"timeSlot":"5:30pm
    [...]
[...]
