<div class="govuk-form-group">

    <%= link_to 'Back', 'javascript:history.go(-1);', class: "govuk-back-link" %>
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What subject are you qualified to teach?
            </h1>
        </legend>

        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
            Select subject
            </label>
            <select class="govuk-select" id="qualified-subject" name="primary_teacher[qualified_subject]">
                <option value="Maths">Maths</option>
                <option value="Science" selected>Science</option>
                <option value="English">English</option>
                <option value="History">History</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <%= f.submit :Continue, class: 'govuk-button auto-width' %>
        </div>
    </fieldset>
</div>