<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We’ve received the information you sent. A teacher training adviser will be in contact with you soon.
        </p>
        <p class="govuk-body">
          If you have any questions or you need to update any of your information provided speak to one of our advisers on Freephone <a href="tel:08003892500">0800 389 2500</a> between 8am - 8pm, Monday to Friday.
        </p>

        <p class="govuk-body">
          <a href="https://www.gov.uk/service-manual/service-assessments/get-feedback-page" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>