<div class="govuk-form-group">
  <h1 class="govuk-heading-l">If you do not have a degree</h1>
    
    <p class="govuk-body">You can study for a degree which includes teacher training and leads to Qualified Teacher Status (QTS).</p>

    <p class="govuk-body">Courses take 1 to 4 years and may include one of these:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Bachelor of Education degree (BEd)
      </li>
      <li>
        Bachelor of Arts (BA) and Bachelor of Science (Bsc) with QTS
      </li>
    </ul>

    <p class="govuk-body">Search <a href="http://ucas.com">UCAS</a> to find a degree leading to Qualified Teacher Status(QTS). </p>
    
    <p class="govuk-body">Return to the <a class="govuk-link" href='/'>Get into Teaching</a> home page.</p>
    
</div>