<div class="govuk-form-group">
    
    <p>You need to pass the required GCSE's or complete the equivalency test.</p>
    <p>You could have a look at these pages to help you</p>
    <p>To take an equivalency test you will need to speak directly with an initial techer training (ITT) provider.</p>
    <a href='https://find-postgraduate-teacher-training.eduction.gov.uk'>https://find-postgraduate-teacher-training.eduction.gov.uk</a>
    <p>Find a GCSE training provider:</p>
    <a href='https://nationalcareers.service.gov.uk/find-a-course'>https://nationalcareers.service.gov.uk/find-a-course</a>
    <p>Or</p>
    <p>Return to the <a href='/'>Get into Teaching</a> home page</p>
    
</div>