<h1 class="govuk-heading-l">Get the right GCSE’s or equivalent qualifications</h1>

<div class="govuk-form-group">

    <p class="govuk-body">You need to pass the required GCSE’s or complete the equivalency test in order to train to teach in England.</p>

    <p class="govuk-body">To get the right GCSE’s you will need to find a <a href="https://nationalcareers.service.gov.uk/find-a-course">GCSE training provider</a>.</p>

    <p class="govuk-body">Once you find a training provider they may ask you to sit a GCSE,  equivalency test, or offer other evidence to demonstrate your ability.</p>

    <p class="govuk-body">Or</p>
    
    <p class="govuk-body">Return to the <a href='/'>Get into Teaching</a> homepage.</p>
    
</div>