<h2>Are you returning to teaching?<h2>
 <p>
  <%= f.radio_button :returning_to_teaching, 'no', :checked => true %>
  <%= label :returning_to_teaching, "No" %>
  <%= f.radio_button :returning_to_teaching, 'yes' %>
   <%= label :returning_to_teaching, "Yes" %>
 </p> 
