---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-vcap-request-id:
      - b34f1884-b8e8-49eb-71ad-1a0f36df5a16
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"|b21d0f65-4be8dc786ec3a251.","errors":{"id":["The
        value ''1234'' is not valid."]}}'
      effective_url: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/1234
  recorded_at: Thu, 20 Aug 2020 13:25:48 GMT
recorded_with: VCR 6.0.0
