---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/%20%20TE571NG%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-vcap-request-id:
      - be536324-3372-4138-6343-12b7e3d16f18
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"|40093eb0-45d2daba0b48eacd.","errors":{"id":["The
        value ''  TE571NG  '' is not valid."]}}'
      effective_url: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/%20%20TE571NG%20%20
  recorded_at: Thu, 20 Aug 2020 13:26:04 GMT
recorded_with: VCR 6.0.0
