---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/abc-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-vcap-request-id:
      - 1c70ec92-225b-4441-6142-e7baf8508981
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"|3df67ca4-4fbf8cc9ec307d0b.","errors":{"id":["The
        value ''abc-123'' is not valid."]}}'
      effective_url: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/abc-123
  recorded_at: Thu, 20 Aug 2020 13:28:20 GMT
recorded_with: VCR 6.0.0
