---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/def-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-vcap-request-id:
      - 87d7c8a3-66d2-4733-449b-70cda9d9d00e
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"|40093f2a-45d2daba0b48eacd.","errors":{"id":["The
        value ''def-123'' is not valid."]}}'
      effective_url: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/def-123
  recorded_at: Thu, 20 Aug 2020 13:49:14 GMT
recorded_with: VCR 6.0.0
