---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/def-456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-vcap-request-id:
      - 4e457b83-61a7-4463-5869-2021249cef33
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"|3df67d37-4fbf8cc9ec307d0b.","errors":{"id":["The
        value ''def-456'' is not valid."]}}'
      effective_url: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/def-456
  recorded_at: Thu, 20 Aug 2020 13:57:59 GMT
recorded_with: VCR 6.0.0
