---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/invalid_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Vcap-Request-Id:
      - 50db6965-ea0a-4d97-7884-52e639b65562
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"|79e2f35d-4a85a2350bad280a.","errors":{"id":["The
        value ''invalid_id'' is not valid."]}}'
      effective_url: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/invalid_id
  recorded_at: Wed, 19 Aug 2020 09:04:33 GMT
recorded_with: VCR 6.0.0
