<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Callback time
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body"><%= show_session('callback_time') %></p>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('equivalent/uk_callback')%>
  </dd>
</div>