<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What is your name and email?
            </h1>
        </legend>

        <div class="govuk-form-group">
            <label class="govuk-label">
                We now need to collect some personal details to complete your registration. Your details are protected under the terms of our privacy notice.
            </label>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label">
                Our privacy notice explains how we use your personal data. It is important that you have read this notice before registering with Get Into Teaching.
            </label>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="email-address" maxlength="320">
                Email address
            </label>
            <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="first-name">
                First name
            </label>
            <input class="govuk-input govuk-input--width-20" id="first-name" name="first-name" type="text" maxlength="255">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="last-name">
                Last name
            </label>
            <input class="govuk-input govuk-input--width-20" id="last-name" name="last-name" type="text" maxlength="255">
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>

    
</div>