<div class="govuk-form-group">

    <a href="#" class="govuk-back-link">Back</a>
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Enter your postcode
            </h1>
        </legend>

        <div class="govuk-form-group">
            <label class="govuk-label" for="postcode" maxlength="8">
                Postcode
            </label>
            <input class="govuk-input govuk-input--width-20" id="postcode" name="postcode" type="text">
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>
</div>