<div class="govuk-form-group">

    <a href="#" class="govuk-back-link">Back</a>
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Check your answers
            </h1>
        </legend>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>

        <div class="govuk-form-group">
            <h3>
                What are you interested in teaching?
            </h3>
            <p class="govuk-body">Computer Science</p>
            <p class="govuk-body"><a href='/'>Change</a></p>
        </div>

        <div class="govuk-form-group">
            <h3>
                When do you intend to start your teacher training?
            </h3>
            <p class="govuk-body">2020</p>
            <p class="govuk-body"><a href='/'>Change</a></p>
        </div>

        <div class="govuk-form-group">
            <h3>
                What stage are you at with your degree?
            </h3>
            <p class="govuk-body">Undergraduate</p>
            <p class="govuk-body"><a href='/'>Change</a></p>
        </div>

        <div class="govuk-form-group">
            <h3>
                What subject is your degree in?
            </h3>
            <p class="govuk-body">Archeology</p>
            <p class="govuk-body"><a href='/'>Change</a></p>
        </div>

        <div class="govuk-form-group">
            <h3>
                Which degree class di you achieve or are predicted to achieve?
            </h3>
            <p class="govuk-body">First Class</p>
            <p class="govuk-body"><a href='/'>Change</a></p>
        </div>

    </fieldset>
</div>