<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Can we contact you by email about your application?
            </h1>
        </legend>

        <div class="govuk-form-group">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="email-opt-in" name="email-opt-in" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label" for="email-opt-in">
                        Yes
                    </label>
                </div>
            </div>
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>
</div>