<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Read and accept the Privay Policy
            </h1>
        </legend>

        <div class="govuk-form-group">
            <p>
                Our privacy notice explains how we use your personal data. It is important that you have read this notice before registering with Get Into Teaching.
            </p>
        </div>

        <div class="govuk-form-group">
            <a href='/'>Privacy Policy</a>
        </div>

        <div class="govuk-form-group">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="privacy-policy" name="privacy-policy" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label" for="privacy-policy">
                        Accept the Privacy Policy
                    </label>
                </div>
            </div>
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>
</div>