<div class="govuk-form-group">

    <a href="#" class="govuk-back-link">Back</a>
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Are you planning to retake your Maths &amp; English GCSE?
            </h1>
        </legend>

        <div class="govuk-form-group">
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="maths-and-english-retake" name="maths-and-english-retake" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="maths-and-english-retake">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="maths-and-english-retake-2" name="maths-and-english-retake" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="maths-and-english-retake-2">
                        No
                    </label>
                </div>
            </div>
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>
</div>