<div class="govuk-form-group">

    <a href="#" class="govuk-back-link">Back</a>
    
    <p class="govuk-body">You need to pass the required GCSE's or complete the equivalency test.</p>
    <p class="govuk-body">You could have a look at these pages to help you</p>
    <p class="govuk-body">To take an equivalency test you will need to speak directly with an initial techer training (ITT) provider.</p>
    <a href='https://find-postgraduate-teacher-training.eduction.gov.uk'>https://find-postgraduate-teacher-training.eduction.gov.uk</a>
    <p class="govuk-body">Find a GCSE training provider:</p>
    <a href='https://nationalcareers.service.gov.uk/find-a-course'>https://nationalcareers.service.gov.uk/find-a-course</a>
    <p class="govuk-body">Or</p>
    <p class="govuk-body">Return to the <a href='/'>Get into Teaching</a> home page</p>
    
</div>