<div class="govuk-form-group">

    <a href="#" class="govuk-back-link">Back</a>
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What are your contact details?
            </h1>
        </legend>

        <p class="govuk-body">
            You must talk to a teaching adviser. You have to book a call in advance. 
            You must have the details of your overseas qualifications when they contact you.
        <p class="govuk-body">

        <div class="govuk-form-group">
            <label class="govuk-label" for="email-address" maxlength="320">
                Email address
            </label>
            <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="telephone-number">
                Contact telephone number
            </label>
            <input class="govuk-input govuk-input--width-20" id="elephone-number" name="telephone-number" type="text" maxlength="255">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
            Select a date
            </label>
            <select class="govuk-select" id="callback-date" name="callback-date">
                <option value="01-10-20">1st October 2020</option>
                <option value="02-10-20" selected>2nd October 2020</option>
                <option value="03-10-20">3rd October 2020</option>
                <option value="04-10-20">4th Octoboer 2020</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="callback-time">
                Book a time for the call back
            </label>
            <select class="govuk-select" id="callback-time" name="callback-time">
                <option value="10:15">10:15am</option>
                <option value="10:30" selected>10:30am</option>
                <option value="10:45">10:45am</option>
                <option value="11:00">11:00am</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>
</div>