<div class="govuk-form-group">

    <a href="#" class="govuk-back-link">Back</a>
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Check your answers
            </h1>
        </legend>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>

        <div class="govuk-form-group">
            <h3>
                Do you have an overseas qualification
            </h3>
            <p class="govuk-body">yes</p>
            <p class="govuk-body"><a href='/'>Change</a></p>
        </div>

        <div class="govuk-form-group">
            <h3>
                Where do you live
            </h3>
            <p class="govuk-body">Manchester</p>
            <p class="govuk-body"><a href='/'>Change</a></p>
        </div>

        <div class="govuk-form-group">
            <h3>
                How do you want to be contacted?
            </h3>
            <p class="govuk-body">Telephone</p>
            <p class="govuk-body"><a href='/'>Change</a></p>
        </div>

    </fieldset>
</div>