<div class="govuk-form-group">

    <a href="#" class="govuk-back-link">Back</a>
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                If you do not have a degree
            </h1>
        </legend>

        <p>
            You'll need to apply for an initial teacher training (ITT) course that will give you qualified teacher status (QTS). 
            Courses usually take 3 to 4 years and include:

            <ul>
                <li>Bachelor of Education degree (BEd)</li>
                <li>Bachelor of Arts (BA) and Bachelor of Science (BSc) with QTS</li>
            </ul>

            Search <a href='/'>UCAS</a> to find a degree with QTS.
        </p>

        <p>
            <a href='/'>Back to how to become a teacher</a>
        </p>

        <p>
            Sign up to get support from a teacher training adviser, who can help you with your personal statement, which 
            funding you can get and how to complete your application.
        </p>

    </fieldset>
</div>