<div class="govuk-form-group">

    <a href="#" class="govuk-back-link">Back</a>
    
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Which subject are you qualified to teach?
            </h1>
        </legend>

        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
            Select subject
            </label>
            <select class="govuk-select" id="qualified-subject" name="qualified-subject">
                <option value="Art and design">Art and design</option>
                <option value="Biology">Biology</option>
                <option value="Business studies">Business studies</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Citizenship">Citizenship</option>
                <option value="Classics">Classics</option>
                <option value="Computing">Computing</option>
                <option value="Dance">Dance</option>
                <option value="Design and technology">Design and technology</option>
                <option value="Drama">Drama</option>
                <option value="Economics">Economics</option>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="Geography">Geography</option>
                <option value="German">German</option>
                <option value="Health and social care">Health and social care</option>
                <option value="History">History</option>
                <option value="Languages (other)">MaLanguages (other)ths</option>
                <option value="Maths">Maths</option>
                <option value="Media studies">Media studies</option>
                <option value="French">French</option>
                <option value="Music">Music</option>
                <option value="Physical education">Physical education</option>
                <option value="Physics">Physics</option>
                <option value="Physics with maths">Physics with maths</option>
                <option value="Primary psychology">Primary psychology</option>
                <option value="Religious education">Religious education</option>
                <option value="Social sciences">Social sciences</option>
                <option value="Spanish">Spanish</option>
                <option value="Vocational health">Vocational health</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>
</div>