<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Do you have a degree?
            </h1>
        </legend>

        <div class="govuk-form-group">
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="have-a-degree" name="have-a-degree" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="have-a-degree">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="have-a-degree-2" name="have-a-degree" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="have-a-degree-2">
                        I'm studying for a degree
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="have-a-degree-3" name="have-a-degree" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="have-a-degree-3">
                        No
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="have-a-degree-4" name="have-a-degree" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="have-a-degree-4">
                        I have an equivalent from another country
                    </label>
                </div>
            </div>
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>
</div>