<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What are you interested in teaching?
            </h1>
        </legend>

        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
            Subject
            </label>
            <select class="govuk-select" id="interested-in-teaching" name="interested-in-teaching">
                <option value="Science">Science</option>
                <option value="Maths" selected>Maths</option>
                <option value="English">English</option>
                <option value="French">French</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button auto-width" data-module="govuk-button">
                Continue
            </button>
        </div>
    </fieldset>
</div>