<% @page_title = "Accessibility information" %>

<main class="govuk-main-wrapper no-margin" id="main-content" role="main">
    <div class="govuk-width-container">
        <div class="content__left">
            <%= link_to 'Back', 'javascript:history.go(-1);', class: "govuk-back-link hidden", id: "backlink" %>
            <h1>
                Accessibility information
            </h1>
            <p>
                This service is run by the Department for Education (DfE).
            </p>
            <p>
                We want as many people as possible to be able to use this service. For
                example, that means you should be able to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the service using just a keyboard and speech recognition software</li>
                <li>
                    listen to most of the service using a screen reader (including the most
                    recent versions of JAWS, NVDA and VoiceOver)
                </li>
            </ul>
            <p>
                We've also made the service text as simple as possible to understand.
            </p>
            <p>
                For advice on making your device easier to use if you have a disability
                visit <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a>.
            </p>
            <p>
                You can also find advice on GOV.UK at <a href="https://www.gov.uk/help/accessibility">Accessibility</a>.
            </p>
            <h2 class="govuk-heading-m">Service accessibility</h2>
            <p>
                We are not aware of any parts of our service which are not accessible.
            </p>
            <h2 class="govuk-heading-m">What to do if you cannot access parts of this service</h2>
            <p>
                <a aria-label="Get into teaching support email address" href="mailto:getintoteaching.helpdesk@education.gov.uk">Email us</a> if you need information on this service in any of the following formats:
                <ul>
                    <li>accessible PDF</li>
                    <li>audio recording</li>
                    <li>braille, easy read or large print format email</li>
                </ul>
            </p>
            <p>
                We'll consider your request and get back to you within 5 working days.
            </p>
            <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
            <p>
                We're always looking to improve the accessibility of this service.
            </p>
            <p>
                If you find any problems that are not listed on this page or think we're
                not meeting accessibility requirements email
                <a href="mailto:getintoteaching.helpdesk@education.gov.uk">getintoteaching.helpdesk@education.gov.uk</a>
            </p>
            <h2 class="govuk-heading-m">Enforcement procedure</h2>
            <p>
                The <a href="https://www.equalityhumanrights.com/en">Equality and Human Rights Commission (EHRC)</a>
                is responsible for
                enforcing the 'accessibility regulations' - officially known as the
                <a href="http://www.legislation.gov.uk/uksi/2018/852/contents/made">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</a>
            </p>
            <p>
                If you're not happy with how we respond to your complaint, contact the
                <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.
            </p>
            <h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>
            <p>
                DfE is committed to making its service accessible, in accordance with the
                Public Sector Bodies (Websites and Mobile Applications) (No. 2)
                Accessibility Regulations 2018.
            </p>
            <p>
                This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.
            </p>
            <h3 class="govuk-heading-s">
                Navigation and accessing information
            </h3>
            <p>
                We have not identified any problems relating to interactive tools and
                transactions.
            </p>
            <h2 class="govuk-heading-m">How we tested this service</h2>
            <p>
                This service was last tested on 01 September 2020. The test was carried out by
                the <a href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre (DAC)</a>.
            </p>
            <p>
                We tested our whole service platform.
            </p>
            <p>
                You can read the full <a href="/assets/documents/dac_git_report.pdf">Digital Accessibility Centre Report</a>.
            </p>
            <p class="govuk-hint">
                This statement was prepared on 01 September 2020.
            </p>
        </div>
    </div>
</main>
