<% @page_title = "Accessibility information" %>

<div class="govuk-width-container">
  <div class="content__left">
    <%= link_to 'Back', 'javascript:history.go(-1);', class: "govuk-back-link hidden", id: "backlink" %>
    <h1>
      Accessibility statement
    </h1>
    <p>
      This accessibility statement applies to the Get an adviser website.
    </p>
    <p>
      This website is run by the Department for Education. We want as many people as possible to be able to use this website. For
      example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the service using just a keyboard</li>
      <li>navigate most of the service using speech recognition software</li>
      <li>
        listen to most of the website using a screen reader (including the most
        recent versions of JAWS, NVDA and VoiceOver)
      </li>
    </ul>
    <p>
      We've also made the website text as simple as possible to understand.
    </p>
    <p>
      <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
    </p> 
    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p>
      If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
      <ul>
        <li>email <a aria-label="Get into teaching support email address" href="mailto:getintoteaching.helpdesk@education.gov.uk">getintoteaching.helpdesk@education.gov.uk</a></li>
      </ul>
    </p>
    <p>
      We'll consider your request and get back to you within 5 working days.
    </p>
    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p>
      We're always looking to improve the accessibility of this website.
    </p>
    <p>
      If you find any problems that are not listed on this page or think we're
      not meeting accessibility requirements, contact our helpdesk by emailing
      <a href="mailto:getintoteaching.helpdesk@education.gov.uk">getintoteaching.helpdesk@education.gov.uk</a>
    </p>
    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p>
      The Equality and Human Rights Commission (EHRC) is responsible for
      enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
    <p>
      If you're not happy with how we respond to your complaint, 
      <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service</a>.
    </p>
    <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
    <p>
      The Department for Education is committed to making its websites, in accordance with the
      Public Sector Bodies (Websites and Mobile Applications) (No. 2)
      Accessibility Regulations 2018.
    </p>
    <h2 class="govuk-heading-m">Compliance status</h2>
    <p>
      This website is fully compliant with the WCAG version 2.1 AA standard.
    </p>
    <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
    <p>
      We’ll continue to test the accessibility of this service as it develops.
    </p>
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p>
      This statement was prepared on 9 December 2022. It was last reviewed on 9 December 2022.
    </p>
    <p>
      This website was last tested independently on 4 May 2022. The test was carried out by Digital Accessibility Centre (DAC) Limited.
    </p>
  </div>
</div>
