<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Get an adviser</h1>

        <p>If you want to become a teacher or return to teaching in England, a teacher training adviser can guide you through the process with free one-to-one support.</p>
        <p>Your adviser can help you:</p>
        <ul>
          <li>get school experience</li>
          <li>fund your course</li>
          <li>choose the right training</li>
          <li>write your personal statement</li>
          <li>find a teaching role</li>
          <li>improve your subject knowledge</li>
        </ul>
        <h2 class="govuk-heading-m">Who can get an adviser?</h2>

        <p>To get an adviser, you'll need (one of the following):</p>

        <ul>
          <li>a bachelor's degree, class 2:2 (honours) or higher</li>
          <li>to be studying for a degree and predicted to get a class 2:2 (honours) or higher</li>
        </ul>
        
        <p>If you’re thinking about returning to teaching, you'll need to have qualified teacher status (QTS) and want to teach a secondary subject in England to get an adviser.</p>

        <h2 class="govuk-heading-m">Non-UK trainees and teachers</h2>

        <p>To get an adviser, you’ll need (one of the following):</p>

        <ul>
          <li>to have or be studying for an overseas qualification of the same standard as a UK bachelor’s degree, class 2:2 (honours) or higher</li>
          <li><a href="https://apply-for-qts-in-england.education.gov.uk/eligibility/start">to apply for English qualified teacher status</a>, and intend to teach any secondary school subject</li>
        </ul>

        <p>You can check the UK equivalents of your qualifications by calling us on <%= link_to("0800 389 2500", "tel://08003892500") %>.</p>
          
        <p>Even if you do not meet the eligibility requirements for this service, you can still teach in England. <a href="/non-uk-teachers">Find more information about teaching in England for non-UK citizens</a>.</p>

        <a href="<%= teacher_training_adviser_step_path(:identity, params.to_unsafe_h.slice(:channel, :sub_channel)) %>" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
        <p>Find teacher training options if you live in:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://teachinscotland.scot">Scotland</a></li>
          <li><a href="https://educators.wales/">Wales</a></li>
          <li><a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland">Northern Ireland</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
