<main class="govuk-main-wrapper no-margin" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Get an adviser</h1>
   
          <p>You can get free one-on-one support from an experienced teacher.</p>
          <p>If you want to become a teacher or return to teaching in England, a Teacher Training Adviser can guide you through the process.
          </p>
          <p>Your adviser will help you with:</p>
          <ul>
            <li>getting school experience</li>
            <li>funding your course</li>
            <li>choosing the right training
            </li>
            <li>writing your personal statement
            </li>
            <li>interview tips
            </li>
          </ul>
          <h2 class ="govuk-heading-m"> Who can get an adviser?</h2>
          <p>You’ll need a bachelor’s degree class 2:2 (honours) or higher, 
          or an overseas qualification that is equivalent.</p>
          <p>You can get an adviser if you’re still studying for your degree. 
          Before your final year, you can get advice and information for when you're ready to apply. If you're in your final year, you’ll need a predicted class 2:2 (honours) or higher. </p>
          <p>If you’ve worked as a teacher before, and you’re thinking of 
          returning to the profession, you’ll need Qualified Teacher Status (QTS).
          </p>
          
          <a href="<%= teacher_training_adviser_step_path(:identity) %>" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
        
          <p class="govuk-body">There are teacher training options if you live in:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://teachinscotland.scot" class="govuk-link">Scotland</a></li>
            <li><a href="https://www.discoverteaching.wales/routes-into-teaching/" class="govuk-link">Wales</a></li>
            <li><a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland" class="govuk-link">Northern Ireland</a></li>
          </ul>
         
        </div>
      </div>
    </div>
  </div>
  <span data-controller="lid" data-lid-action-value="track" data-lid-event-value="Adviser"></span>
</main>
