<%
  # To be removed after the user research session
  # has been completed (31st August).
  show_new_journey = Rails.env.development? || config.x&.git_api_endpoint == "https://get-into-teaching-api-dev.london.cloudapps.digital"
  url = show_new_journey ? teacher_training_adviser_step_path(:identity) : new_registration_path(step_name: :identity)
%>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sign up to talk to a teacher training adviser</h1>

        <p class="govuk-body">This service is for those who want to train to be a teacher in England.</p>

        <p class="govuk-inset-text">To use this service your bachelor&apos;s degree or predicted grade needs to be higher than a 3rd class honours.</p>

        <p class="govuk-body">All our teacher training advisers are experienced teachers who will provide you with additional support when preparing and applying for teacher training.</p>
        <p class="govuk-body">They will help you with the following:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>finding school experience</li>
          <li>advice about teaching that is tailored to your needs</li>
          <li>your application</li>
          <li>finding national teaching events</li>
        </ul>

        <p class="govuk-inset-text">If you&apos;re returning to teaching and are qualified to teach maths, physics or languages or you have an overseas qualification, you should use this service to speak to a teacher training adviser.</p>

        <p class="govuk-body">There are teacher training options if you live in:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://teachinscotland.scot">Scotland</a></li>
          <li><a href="https://www.discoverteaching.wales/routes-into-teaching/">Wales</a></li>
          <li><a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland">Northern Ireland</a></li>
        </ul>

        <a href="<%= url %>" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

      </div>

    </div>
  </main>
</div>