<main class="govuk-main-wrapper no-margin" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Get an adviser</h1>
          <p>This service is for those who want to become a teacher in England.</p>
          <p>To use this service you need to have one of the following:</p>
          <ul>
            <li>a bachelor’s degree that is graded 2:2 class honours (or above)</li>
            <li>a predicted grade for your degree that is 2:2 class honours (or above)</li>
            <li>a teaching qualification that will enable you to return to teaching</li>
            <li>an overseas qualification that is equivalent to a 2:2 class honours (or above)</li>
          </ul>
          <p class="govuk-inset-text">If you're not in the final year of your degree, or wish to apply to teacher training at a future date, you can use this service to receive support and information for when you're ready to apply.</p>
          <p>All our teacher training advisers are experienced teachers who will provide you with additional support when preparing and applying for teacher training.</p>
          <p>They will help you with:</p>
          <ul>
            <li>finding school experience</li>
            <li>advice about teaching that is tailored to your needs</li>
            <li>your application</li>
            <li>finding national teaching events</li>
          </ul>
          <p>If you’re returning to teaching there are advisers who will help you with what you need to return to the profession.</p>
          <p class="govuk-body">There are teacher training options if you live in:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://teachinscotland.scot" class="govuk-link">Scotland</a></li>
            <li><a href="https://www.discoverteaching.wales/routes-into-teaching/" class="govuk-link">Wales</a></li>
            <li><a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland" class="govuk-link">Northern Ireland</a></li>
          </ul>
          <a href="<%= teacher_training_adviser_step_path(:identity) %>" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <span data-controller="lid" data-lid-action-value="track" data-lid-event-value="Adviser"></span>
</main>
