<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Forbidden</h1>
    <p>You do not have permission to access this resource.</p>
  </div>
</main>
