<% @page_title = "We're sorry, but something went wrong" %>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">We're sorry, but something went wrong.</h1>
    <p>If you are the application owner check the logs for more information.</p>
  </div>
</div>
