<% @page_title = "The page you were looking for doesn't exist" %>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Page not found</h1>
    <p>If you typed the web address, check it’s correct.</p>
    <p>If you pasted the web address, check you copied the entire address.</p>
    <p>Or, go to the <%= link_to("Get an adviser start page", "/", target: "_blank") %> for free, one-to-one support getting into teaching.</p>
  </div>
</div>
