<% @page_title = "Too many requests" %>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Too many requests</h1>
    <p>You have tried to access a page too often in a short space of time.</p>
    <p>You can go <%= link_to("back", :back) %> and try to access the page again in 1 minute.</p>
  </div>
</div>
