<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Do you have science GCSE Grade 4 or above?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_session('have_science') %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('studying/science_grade4') %>
  </dd>
</div>