<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Address
  </dt>
  <dd class="govuk-summary-list__value">
    <%= show_uk_address %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('studying/uk_candidate') %> 
  </dd>
</div>