<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which subject is your degree?
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body"><%= show_session('degree_subject') %></p>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= show_link('studying/what_subject_degree')%>
  </dd>
</div>