<p class="govuk-hint">
  <%= t('helpers.label.wizard_steps_authenticate.timed_one_time_password') %>
</p>

<%= f.govuk_text_field :timed_one_time_password,
autocomplete: "off",
label: { text: timed_one_time_password_label(params[:verification_resent]) }
%>
<% content_for(:form_help) do %>
  <p>The code expires in 15 minutes.</p>
  <p>Check your spam or junk folder if you cannot find the email.</p>
  <p><%= link_to("Send another code to verify my details.", resend_verification_path) %></p>
<% end %>
