<% return unless answers.key?("phone_call_scheduled_at") %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Callback date
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">
      <%= answers["phone_call_scheduled_at"].to_time.strftime("%d %m %Y") %>
    </p>
  </dd>
  <dd class="govuk-summary-list__actions">
  <% if answers["uk_or_overseas"] == TeacherTrainingAdviser::Steps::UkOrOverseas::OPTIONS[:uk] %>
    <%= link_to_change_answer(TeacherTrainingAdviser::Steps::UkCallback) %>
  <% else %>
      <%= link_to_change_answer(TeacherTrainingAdviser::Steps::OverseasCallback) %>
  <% end %>
  </dd>
</div>