<% return unless answers.key?("email") %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Email
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body"><%= answers["email"] %></p>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to_change_answer(TeacherTrainingAdviser::Steps::Identity) %>
  </dd>
</div>