<% return unless answers.key?("planning_to_retake_gcse_science_id") %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
   Are you planning to retake your science GCSE?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= 
      Crm::OPTIONS.key(answers["planning_to_retake_gcse_science_id"]).to_s.capitalize
    %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to_change_answer(SignUp::Steps::RetakeGcseScience) %>
  </dd>
</div>