<% return unless answers.key?("preferred_education_phase_id") %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which stage are you interested in teaching?
  </dt>
  <dd class="govuk-summary-list__value">
    <%= 
      StageInterestedTeaching.options.key(answers["preferred_education_phase_id"].to_s).to_s.capitalize
    %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to_change_answer(SignUp::Steps::StageInterestedTeaching) %>
  </dd>
</div>