<% return unless answers.key?("preferred_teaching_subject_id") && answers["returning_to_teaching"] == true %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which subject would you like to teach if you return to teaching?
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">
      <%= GetIntoTeachingApiClient::TypesApi.new.get_teaching_subjects.find { |subject| subject.id == answers["preferred_teaching_subject_id"] }.value %>
    </p>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to_change_answer(TeacherTrainingAdviser::Steps::SubjectLikeToTeach) %>
  </dd>
</div>