<% return unless answers.key?("preferred_teaching_subject_id") && answers["degree_options"] == HaveADegree::DEGREE_OPTIONS[:equivalent] %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Which subject are you interested in teaching?
  </dt>
  <dd class="govuk-summary-list__value">
      <%= GetIntoTeachingApiClient::TypesApi.new.get_teaching_subjects.find { |subject| subject.id == answers["preferred_teaching_subject_id"] }.value %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to_change_answer(SignUp::Steps::SubjectInterestedTeaching) %>
  </dd>
</div>