<% return unless answers.key?("telephone") %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Telephone
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body"><%= answers["telephone"] %></p>
  </dd>
  <dd class="govuk-summary-list__actions">
  <% if answers["uk_or_overseas"] == TeacherTrainingAdviser::Steps::UkOrOverseas::OPTIONS[:uk] %>
    <%= link_to_change_answer(TeacherTrainingAdviser::Steps::UkTelephone) %>
  <% else %>
      <%= link_to_change_answer(TeacherTrainingAdviser::Steps::OverseasTelephone) %>
  <% end %>
  </dd>
</div>