<% policy_id = session[:privacy_policy_id].presence || GetIntoTeachingApiClient::PrivacyPoliciesApi.new.get_latest_privacy_policy.id %>

<%= f.govuk_check_boxes_fieldset :accepted_policy_id, legend: { text: "Read and accept the privacy policy"} do %>
  <p>Read our [privacy policy](/privacy-policy) before you continue. It explains how we use your personal data.</p>

  <%= f.govuk_check_box :accepted_policy_id, policy_id, multiple: false, label: { text: "Accept the privacy policy"} %>

 <% end %>
