<div class="govuk-form-group">
  <h1 class="govuk-heading-l">If you do not have a degree</h1>
    <p>You can study for a degree which includes teacher training and leads to <a href="https://getintoteaching.education.gov.uk/ways-to-train">qualified teacher status</a> (QTS).</p>
    <p>Courses take 1 to 4 years and may include one of these:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Bachelor of Education degree (BEd)
      </li>
      <li>
        Bachelor of Arts (BA)
      </li>
      <li>
      Bachelor of Science (BSc)
      </li>

    </ul>
    <p><a href="https://digital.ucas.com/search">Search UCAS to find a degree leading to qualified teacher status (QTS)</a>.</p>
</div>
