<% @page_title = "We're sorry, but you need a degree to be eligible for this service" %>

<div class="govuk-form-group">
  <h1 class="govuk-heading-l">We're sorry, but you need a degree to be eligible for this service</h1>

    <p>You can study for a degree that <%= link_to_git_site("leads to qualified teacher status (QTS)", "train-to-be-a-teacher/if-you-dont-have-a-degree", target: "_blank") %>.</p>
    <p>Or, <%= link_to("you do not need a degree to teach in further education", "https://www.teach-in-further-education.campaign.gov.uk", target: "_blank") %>.</p>
</div>
