<div class="govuk-form-group">
  <h1 class="govuk-heading-l">If you do not have a degree</h1>
    <p>You can study for a degree which includes teacher training and leads to Qualified Teacher Status (QTS).</p>
    <p>Courses take 1 to 4 years and may include one of these:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Bachelor of Education degree (BEd)
      </li>
      <li>
        Bachelor of Arts (BA) and Bachelor of Science (Bsc) with QTS
      </li>
    </ul>
    <p>Search <a href="http://ucas.com">UCAS</a> to find a degree leading to Qualified Teacher Status(QTS). </p>
    <p>Return to the <%= link_to_git_site %> home page.</p>
</div>
