<%= f.govuk_fieldset legend: { text: 'Choose a time' } do %>

<div class="govuk-form-group">
  <%= f.label :phone_call_scheduled_at, "Select your preferred day and time for a callback", class: "govuk-label" %>
  <%= f.select :phone_call_scheduled_at, format_booking_quotas(TeacherTrainingAdviser::Steps::OverseasCallback::grouped_quotas, @wizard.export_data["time_zone"]), {}, { class: "govuk-select" } %>
</div>

<% end %>