<% @page_title = "Get the right GCSEs or equivalent qualifications" %>

<h1 class="govuk-heading-l">Get the right GCSEs or equivalent qualifications</h1>
<div class="govuk-form-group">
    <p>You need to pass the required GCSEs or complete the equivalency test in order to train to teach in England.</p>
    <p>To get the right GCSEs you will need to find a <a href="https://nationalcareers.service.gov.uk/find-a-course/search">GCSE training provider</a>. Make sure when you visit this website, you search for GCSE courses.</p>
    <p>Once you find a training provider they may ask you to sit a GCSE, equivalency test, or offer other evidence to demonstrate your ability.</p>
    <p>Or</p>
    <p>Return to the <%= link_to_git_site %> homepage.</p>
</div>
