<main class="govuk-main-wrapper no-margin" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">We're sorry, but you are not eligible for this service.</h1>

        <p>To be eligible, you must be planning to teach chemistry, computing, maths, modern foreign languages or physics.</p>
        <p>You can find out more about getting back into teaching on the Get Into Teaching website.</p>

        <ul>
          <li><%= link_to_git_site("returning to teaching", "returning-to-teaching", target: "_blank") %></li>
          <li><%= link_to_git_site("coming to England to teach if you're from outside the UK", "come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk", target: "_blank") %></li>
          <li><%= link_to_git_site("return to teaching from overseas", "international-returners", target: "_blank") %></li>
        </ul>

        <p>You can also search for teaching jobs in England at <%= link_to("Teaching Vacancies", "https://teaching-vacancies.service.gov.uk/", target: "_blank") %>.</p>
    </div>
  </div>
</div>
