<main class="govuk-main-wrapper no-margin" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Get support</h1>

        <p>Our teacher training advisers are here to support those returning to teach maths, physics or languages.</p>
        <p>
          We can still offer you support, if you want to teach something else we can <%= link_to_git_mailing_list("send you information via email") %> or you can get advice by <%= link_to_git_mailing_list("attending a return to teaching event") %>.
        </p>
    </div>
  </div>
</div>