<main class="govuk-main-wrapper no-margin" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">We’re sorry, but to be eligible for this service, you must be planning to teach maths, physics or modern foreign languages (MFL).</h1>

        <p>However, Get into Teaching’s <%= link_to_git_events("online Q&A webinars", events_path: "category/online-events") %> are open to returning and international teachers in all subjects and age groups. 

        <p>You can also search for teaching jobs in England at<a href="https://teaching-vacancies.service.gov.uk">Teaching Vacancies.</a></p>
        
        Dedicated pages on the Get into Teaching website offer help and advice:
        
        <p>Teachers trained in England can find info about coming home to teach at <a href=" https://getintoteaching.education.gov.uk/international-returners">Return to teaching from overseas.</a></p>
        
        <p>Teachers coming back to the profession after a break can find info at <a href="https://getintoteaching.education.gov.uk/returning-to-teaching">Return to teaching.</a></p>

        <p>Teachers who qualified outside the UK can find info at <a href="https://getintoteaching.education.gov.uk/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk">Return to teaching.</a></p>
        

        

       
       
        
    </div>
  </div>
</div>
