<% @page_title = "What is your postcode?" %>

<%= f.govuk_text_field :address_postcode, width: 20, label: { text: @page_title, size: "m", tag: "h1" } do %>
  <p>This can help us give you more specific advice and support.</p>
<% end %>
