<%= f.govuk_fieldset legend: { text: 'You told us you have an equivalent degree and live in the United Kingdom' } do %>

<p>You need to book a callback with us.  We will contact you once your call is booked.</p>
<p>You must have the details of your overseas qualifications when we contact you.</p>

<%= f.govuk_phone_field :telephone, width: 20 %>

<div class="govuk-form-group">
  <%= f.label :phone_call_scheduled_at, "Select your preferred day and time for a callback", class: "govuk-label" %>
  <%= f.select :phone_call_scheduled_at, callback_options(f.object.class.callback_booking_quotas), {}, { class: "govuk-select" } %>
</div>

<% end %>
