<%
if f.object.studying?
  text = "What degree class are you predicted to get?"
else
  text = "Which class is your degree?"
end
%>

<div class="govuk-form-group">
  <%= f.label :uk_degree_grade_id, text, class: "govuk-label govuk-label--m" %>
  <%= f.select :uk_degree_grade_id,
    options_for_select(TeacherTrainingAdviser::Steps::WhatDegreeClass.options),
    {},
    { class: "govuk-select" }
  %>
</div>
