<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you <br> Sign up complete
          </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We've received your information. You’ll get an email from us soon which will outline the next steps for you to talk to an adviser.
        </p>
        <p class="govuk-body">
          You must respond to the email within 6 weeks of receiving it otherwise you will have to sign up again.  
        </p>
        <p class="govuk-body">
          If you have any questions or you need to update any of the information you provided, speak to one of our advisers on Freephone <a href="tel:08003892501">0800 389 2501</a> between 8.30am - 5pm Monday to Friday.
        </p>

        <p class="govuk-body">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfIBfaYUk07Fb6dxUKAokiPoGGL73ZYVGHM1mSNyA-K-6QRbA/viewform" target="blank" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>

        <span data-controller="pinterest"
              data-pinterest-action="track"
              data-pinterest-event="signup"></span>

        <span data-controller="snapchat"
              data-snapchat-action="track"
              data-snapchat-event="SIGN_UP"></span>

        <span data-controller="facebook"
              data-facebook-action="track"
              data-facebook-event="CompleteRegistration"></span>

        <span data-controller="gtm"
              data-gtm-action="event"
              data-gtm-event="conversion"
              data-gtm-event-data='{"send_to":"AW-1071004410/1Rs4CM_qitsBEPr12P4D"}'></span>

        <span data-controller="lid" 
              data-lid-action="track" 
              data-lid-event="CompleteApp"></span>
      </div>
    </div>
  </div>
</div>
